.grid-20px {
  display: grid;
  grid-template-columns: repeat(100, 20px);
  grid-template-rows: repeat(100, 20px);
}

.alive {
  background: #e69a8dff;
}

.dead {
  background: #5f4b8bff;
}

.grid-20px .cell-20px {
  width: 20px;
  height: 20px;
}
